doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet", href="index.css")
  body
    header
      h1= pageTitle
    nav
      ul
        each link in navLinks
          li: a(href=link.href)= link.text
    main
      block content
    footer
      p &copy; #{currentYear} #{footerText}
